In [1]:
# Sort - Python sorted

In [2]:
# Iterable ( __iter__( ) )
# list, tuple, set, dict

In [3]:
li = [3, 4, -2, 0, 1, 6]

In [7]:
sorted(li, reverse=True)    # 기본적으로 오름차순 ( 작은 => 큰 )
                            # reverse = True => 내림차순

[6, 4, 3, 1, 0, -2]

In [1]:
rooms = [
    {"deposit": 2000, "rent": 50},    # 표준가격 : 보증금 + 월세 * 100
    {"deposit": 2500, "rent": 200},
    {"deposit": 1000, "rent": 50}, 
]

In [7]:
sorted(
    rooms,
    key=lambda room: room["deposit"],
    reverse=True,
)

[{'deposit': 2500, 'rent': 200},
 {'deposit': 2000, 'rent': 50},
 {'deposit': 1000, 'rent': 50}]

In [6]:
sorted(rooms, key=lambda room: room["deposit"] + 100 * room["rent"])

[{'deposit': 1000, 'rent': 50},
 {'deposit': 2000, 'rent': 50},
 {'deposit': 2500, 'rent': 200}]

In [9]:
import pandas as pd
payment_df = pd.read_csv("../../data/payment.csv")

In [26]:
# payment_df.sort_values(by="amount", ascending=False).head(10)

# 1. payment_df 총 결제액이 많은 유저 상위 10명 ( payment_df ) : aggregate 
# 2. 상위 10명의 이름 ( customer_df ) : pd.merge

In [32]:
temp_df = payment_df\
    .groupby("customer_id")\
    .agg("sum")[["amount"]]\
    .sort_values("amount", ascending=False)\
    .head(5)

In [33]:
pd.merge(
    temp_df,
    customer_df,
    left_index=True,
    right_on="customer_id",
)

,amount,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
525,221.55,526,2,KARL,SEAL,KARL.SEAL@sakilacustomer.org,532,1,2006-02-14 22:04:37,2006-02-15 04:57:20
147,216.54,148,1,ELEANOR,HUNT,ELEANOR.HUNT@sakilacustomer.org,152,1,2006-02-14 22:04:36,2006-02-15 04:57:20
143,195.58,144,1,CLARA,SHAW,CLARA.SHAW@sakilacustomer.org,148,1,2006-02-14 22:04:36,2006-02-15 04:57:20
136,194.61,137,2,RHONDA,KENNEDY,RHONDA.KENNEDY@sakilacustomer.org,141,1,2006-02-14 22:04:36,2006-02-15 04:57:20
177,194.61,178,2,MARION,SNYDER,MARION.SNYDER@sakilacustomer.org,182,1,2006-02-14 22:04:36,2006-02-15 04:57:20

In [34]:
# apply - 남자/여자 | 각각의 성별 그룹에 대해서 팁을 가장 많이 준 5명씩 뽑자.

In [35]:
tips_df = pd.read_csv("../../data/tips.csv")

In [41]:
# tips_df.groupby("sex").get_group("Male").sort_values("tip", ascending=False).head()

In [42]:
# tips_df.groupby("sex").get_group("Female").sort_values("tip", ascending=False).head()

In [43]:
# 그룹 - 남자+흡연자, 남자+비흡연자, 여자+흡연자, 여자+비흡연자

In [49]:
def get_top_5_rows(df):
    return df.sort_values("tip", ascending=False).head(5)

In [50]:
# 각각의 그룹에 대해서 ( split )
# 어떤 특수한 형태의 get_top_5_rows 라는 함수를 적용하고 ( apply:apply )
# 이 결과를 합친 DataFrame 을 만든다 ( combine )

In [76]:
tips_df.groupby("sex").apply(get_top_5_rows)

# 각각의 group => 1. Male Group => 벡터, 스칼라, 2. Female Group => 벡터, 스칼라

            total_bill    tip     sex smoker   day    time  size
sex
Female 214       28.17   6.50  Female    Yes   Sat  Dinner     3
       52        34.81   5.20  Female     No   Sun  Dinner     4
       85        34.83   5.17  Female     No  Thur   Lunch     4
       155       29.85   5.14  Female     No   Sun  Dinner     5
       11        35.26   5.00  Female     No   Sun  Dinner     4
Male   170       50.81  10.00    Male    Yes   Sat  Dinner     3
       212       48.33   9.00    Male     No   Sat  Dinner     4
       23        39.42   7.58    Male     No   Sat  Dinner     4
       59        48.27   6.73    Male     No   Sat  Dinner     4
       141       34.30   6.70    Male     No  Thur   Lunch     6

In [78]:
tips_df.groupby("sex").size()
# groupby 객체 있는 size 함수  
# == np.count() 랑 비교해서 살펴보세요.
# 거의 대부분 df, ser .size

sex
Female     87
Male      157
dtype: int64

In [79]:
tips_df.groupby("sex").agg("count")

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [83]:
#tips_df.groupby("sex").apply(lambda x: x.size)
# tips_df.groupby("sex").apply(lambda x: x.count())

In [87]:
# tips_df.groupby("sex").describe()
# tips_df.groupby("sex").agg("describe")

In [88]:
tips_df.groupby("sex").apply(lambda x: x.describe())

              total_bill         tip        size
sex
Female count   87.000000   87.000000   87.000000
       mean    18.056897    2.833448    2.459770
       std      8.009209    1.159495    0.937644
       min      3.070000    1.000000    1.000000
       25%     12.750000    2.000000    2.000000
       50%     16.400000    2.750000    2.000000
       75%     21.520000    3.500000    3.000000
       max     44.300000    6.500000    6.000000
Male   count  157.000000  157.000000  157.000000
       mean    20.744076    3.089618    2.630573
       std      9.246469    1.489102    0.955997
       min      7.250000    1.000000    1.000000
       25%     14.000000    2.000000    2.000000
       50%     18.350000    3.000000    2.000000
       75%     24.710000    3.760000    3.000000
       max     50.810000   10.000000    6.000000

In [100]:
# tips_df 에다가 남/녀의 평균 팁을 옆에다가 append 하고 싶다.

In [102]:
tips_df.groupby("sex")["tip"].transform("mean").head(3)

0    2.833448
1    3.089618
2    3.089618
dtype: float64

In [104]:
temp_df = tips_df.groupby("sex").apply(lambda x: x.tip.mean())
temp_df

sex
Female    2.833448
Male      3.089618
dtype: float64

In [106]:
tips_df.sex.apply(lambda x: temp_df[x]).head(3)
# .apply < transform < aggregate

0    2.833448
1    3.089618
2    3.089618
Name: sex, dtype: float64

In [113]:
# tp ( tip percentage ) ; 식사에 대한 팁의 비율
tips_df["tp"] = tips_df.tip / tips_df.total_bill

In [116]:
# tips_df.groupby(["sex", "smoker"]).apply(
#     lambda x: x.sort_values("tp", ascending=False).head(3),
# )

In [117]:
# payment_df
# 30번 이상 구매한 유저만 뽑자.

In [118]:
# filter

In [123]:
payment_df.groupby("customer_id").filter(
    lambda x: x.payment_id.count() > 30
).customer_id.unique().size

134

In [127]:
# 1. agg         (*)
# 2. transform   -
# 3. apply       (*)
# 4. filter      

# http://chrome.jupyter-themes.com/