In [1]:
# "삼성" => "삼성 계열사에 대한 연봉 정보" => 저장, 구조화된 데이터

In [2]:
# 삼성전자 상세페이지 접속 후 Network 탭에서 API를 찾자.
# https://kreditjob.com/api_ver2/getInfoByQueryPkNm?query=124810-%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90

In [9]:
# import requests

# detail_url
# response = requests.get("https://kreditjob.com/api_ver2/getInfoByQueryPkNm?query=124810-%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90")
# response.json()

# list_url
# response = requests.get("https://kreditjob.com/api_ver2/searchData?q=%EC%82%BC%EC%84%B1")
# response.json()

# # 최종 Data
# [
#     {"name": "삼성전자", "salary": 100000},
#     {"name": "삼성디스플레이", "salary": 5000},
#     ...
# ]

NameError: name 'list_url' is not defined

In [3]:
LIST_URL = "https://kreditjob.com/api_ver2/searchData?q="
DETAIL_URL = "https://kreditjob.com/api_ver2/getInfoByQueryPkNm?query="

In [4]:
get_list_url = lambda keyword: LIST_URL + keyword
get_detail_url = lambda pk_nm: DETAIL_URL + pk_nm

In [5]:
get_list_url("삼성")

'https://kreditjob.com/api_ver2/searchData?q=삼성'

In [6]:
# 빈 리스트를 만들고, for 문을 돌면서, fn apply, {} append
# => lambda map == list comprehension

KEYWORD = "삼성"
data = [
    {
        "name": company.get("SERVICE_NAME"),
        "pk_nm": company.get("PK_NM"),
    }
    for company
    in requests.get(get_list_url(KEYWORD)).json().get("data")
]

NameError: name 'requests' is not defined

In [7]:
[
    {
        "name": company.get("name"),
        "salary": requests.get(get_detail_url(company.get("pk_nm"))).json().get("data")[0].get("AVG_SALARY_YY"),
    }
    for company
    in data
]

NameError: name 'data' is not defined

In [27]:
# [
#     requests.get(get_detail_url(company.get("pk_nm"))).json()
#     for company
#     in data
# ]

data[0]
PK_NM = data[0].get("pk_nm")

In [29]:
DETAIL_URL = get_detail_url(PK_NM)

In [37]:
response = requests.get(
    DETAIL_URL,
    headers={
        "Host": "kreditjob.com",
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2910.0 Safari/537.36"
    }
)

In [1]:
response.json()

NameError: name 'response' is not defined

In [39]:
# SpreadSheet 
# 일괄적으로 다루는 경우 => 1. Row, 2. Column

In [42]:
import pandas as pd
df = pd.DataFrame(data)

In [45]:
# 삼성전자 | 124810-삼성전자
# (name)   (pk_nm)

In [49]:
df.name

# 삼성전자 | 삼성디스플레이 | SDS
# 0        1             2
# 리스트, 순서 O, Key O

# == Dict

0           삼성전자
1        삼성디스플레이
2        삼성에스디에스
3     삼성중공업거제조선소
4           삼성전기
5          삼성SDI
6       삼성화재해상보험
7         삼성서울병원
8    삼성물산건설부문정규직
9        삼성엔지니어링
Name: name, dtype: object

In [50]:
# Numpy.ndarray
# Pandas.Series
# Pandas.DataFrame

In [51]:
# numpy ( numerical python ) => 수학 적인 연산을 다루기 위해서 만들어진 패키지 
# $ pip install numpy

In [53]:
import numpy as np

In [55]:
np?

In [56]:
# 1. array(배열) object, 임의의 동질의 아이템 ( vector, matrix )
# 2. Fast mathematical operations over arrays

# Python ( CPython )

[1, 2, 3, 4]

In [58]:
# 1. Python built-in List
# 2. Python built-in Array
# 3. Numpy Array ( ndarray )

In [61]:
a = [1, 2, 3, ]
a

# elements O, 굳이 동질의 데이터가 들어갈 필요 X

[1, 2, 3]

In [62]:
import array

In [65]:
# array.array("l", [1, 2, 3])
#            typecode initializer
#            우리가 어떤 데이터형태? ( == 동질의 데이터 )
#            1, 2, 3 ( signed long ; 4 bytes )

# 제한: 동질의 데이터가 들어가야 한다.
# 장점: 수학적인 연산

In [66]:
# 1차원 ( 1D Array ) => ND Array

In [67]:
# N 차원

In [72]:
# 이미지 파일 => 1024 x 1024 ( jpg )
#             1024 x 1024 x 3 ( rgb ) 배열  ( 3차원 배열 )

#             1024 x 3072 ( 2차원 배열 )
#             3145728 ( 1차원 배열 )

# 담고있는 의미 == 같은 데이터 ( shape)

In [73]:
# 중고차 시세 예측 ( Machine Learning )      y = f(x)

# y = x, y = x^2, ...

# 중고차 가격을 결정하는 요소 

# 브랜드, 차종, 모델, 등급, 세부등급 
# 연식, 주행거리
# 선루프, 네비게이션
# 사고유무
# 침수유무 
# 11차원의 데이터

In [75]:
features = ("BMW", "3시리즈", "320d", "", "", "2012", "10000", "2500")
# 11차원 x 100 = > 1100만개의 숫자/문자에 대한 Matrix

In [76]:
# (11x100) x (_________) => (1x100)
#                           가격

In [77]:
# Pandas ( 시계열 데이터 ; 엑셀 데이터 )
# Pandas => 사실 Numpy 로 부터 만들어진 라이브러리

In [78]:
# 가격 = f(브랜드, 차종, 모델, 등급, 세부등급, 주행거리)

In [93]:
import pandas as pd
import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",  # DATABASE_HOST
    "root",  # DATABASE_USERNAME
    "dkstncks",  # DATABASE_PASSWORD
    "sakila",  # DATABASE_NAME
    charset='utf8',
)# 

SQL_QUERY = """
    SELECT customer_id, amount
    FROM payment
    ;
"""

df = pd.read_sql(SQL_QUERY, db)

In [100]:
df.to_csv("../../data/payment.csv", index=False, header=None)
df

       customer_id  amount
0                1    2.99
1                1    0.99
2                1    5.99
3                1    0.99
4                1    9.99
5                1    4.99
6                1    4.99
7                1    0.99
8                1    3.99
9                1    5.99
10               1    5.99
11               1    4.99
12               1    4.99
13               1    7.99
14               1    2.99
15               1    4.99
16               1    4.99
17               1    0.99
18               1    0.99
19               1    2.99
20               1    2.99
21               1    4.99
22               1    3.99
23               1    0.99
24               1    4.99
25               1    0.99
26               1    0.99
27               1    2.99
28               1    0.99
29               1    1.99
...            ...     ...
16019          598    0.99
16020          598    0.99
16021          598    0.99
16022          598    5.99
16023          598    4.99
16024          598    4.99
16025          598    0.99
16026          598    2.99
16027          598    0.99
16028          598    2.99
16029          598    7.99
16030          599    4.99
16031          599    1.99
16032          599    6.99
16033          599    4.99
16034          599    6.99
16035          599    0.99
16036          599    2.99
16037          599    9.99
16038          599    2.99
16039          599    6.99
16040          599    2.99
16041          599    2.99
16042          599    3.99
16043          599    1.99
16044          599    4.99
16045          599    1.99
16046          599    8.99
16047          599    2.99
16048          599    2.99

[16049 rows x 2 columns]

In [102]:
arr = np.loadtxt("../../data/payment.csv", delimiter=",")