In [1]:
# np.array ( init )
# np.ndarray ( data type )

In [2]:
import numpy as np

In [15]:
np.array?

# 파이썬의 기본 array | 1. type("l"), 2. data
# np.array         | 1. type ( 타입 추정 ) 데이터를 보고 자동으로 타입을 넣어주는 기능
#                  | 2. data ( object == list, tuple, set )

# np.array 의 return => ndarray

In [16]:
arr = np.array([1, 2, 3, 4, 5])   # 함수
arr

array([1, 2, 3, 4, 5])

In [17]:
type(arr)   # 자료형

numpy.ndarray

In [8]:
li = [1, 2, 3, 4, 5]

In [18]:
li

[1, 2, 3, 4, 5]

In [23]:
# arr, li => 동일한 데이터 / 동일한 데이터지만, 자료형 이 다른 두 개의 객체

In [24]:
len(li)
# elements 의 갯수

5

In [25]:
arr.shape

(5,)

In [26]:
arr.ndim

1

In [27]:
# ndim == len(shape)

In [42]:
arr = np.array([[1, 2], [3, 4]])

In [43]:
arr.shape

(2, 2)

In [44]:
arr.ndim

2

In [45]:
arr.itemsize   # Python array type ( "l":signed long; 4byte )

8

In [50]:
arr

array([1, 2, 3, 4, 5], dtype=int32)

In [51]:
arr.dtype   # 어떤 데이터 타입으로 저장할 것인가?
            # 데이터 추정/ 타입 추정

dtype('int32')

In [52]:
arr = np.array([1, 2, 3, 4, 5], dtype=np.int32)  # explicit dtype

In [59]:
arr

array([[1, 2],
       [3, 4]])

In [60]:
arr[0:2]   # 결과값 : ndarray

array([[1, 2],
       [3, 4]])

In [61]:
# 2 x 2 | array, list

# 1, 2
# 3, 4

In [62]:
li = [[1, 2],
      [3, 4],]

In [63]:
arr = np.array(li)

In [64]:
# 1. li, arr => [1, 2]  [3, 4] | arr[0], li[0] ( 두 개가 동일하게 indexing )
# 2. li, arr => 4              | li[1][1], arr[1][1], arr[1:1]
# 3. li, arr => [1, 3], [2, 4] | li (map), arr[:, 0]

In [65]:
# 4. elements 들에 동일한 연산을 수행하고 싶다. ( 제곱, double )

# [[2, 4],
# [6, 8]]  # double

# [[1, 4],
# [9, 16]]

# li 의 모양이 변경될 수 있다. ( 2차원; 2 x 3, 5 x 4 )

In [105]:
[
    [
        field * 2
        for field
        in row
    ]
    for row
    in li
]

[[2, 4], [6, 8]]

In [67]:
list(map(
    lambda row: list(map(lambda field: field * 2, row)),
    li,
))
arr ** 2

array([[ 1,  4],
       [ 9, 16]])

In [139]:
# 0. 전체 => 10
# 1. [4, 6]
# 2. [3, 7]       # li 에서 한번 구현

In [68]:
# 전체 SUM 

result = 0   # initialize

for row in li:
    for field in row:
        # result += field
        result = result + field
        
result

10

In [75]:
from functools import reduce

In [76]:
reduce(
    lambda x,y: reduce(lambda a, b: a + b, x) +\
        reduce(lambda a, b: a + b, y),
    li,  # x, y => row 하나하나 
)

# 2 x 2 => 100 x 300

10

In [77]:
dobestan

NameError: name 'dobestan' is not defined

In [78]:
li = [[1, 2,], [3, 4]]

In [79]:
# [3, 7]
# [4, 6]
li

[[1, 2], [3, 4]]

In [81]:
[
    # row[0] + row[1] + row[2] +... + row[n]
    reduce(lambda a,b: a + b, row)
    for row                            # row 단위로 쉽게 접근이 가능했기 때문에 
    in li
]

[3, 7]

In [82]:
print(arr)

[[1 2]
 [3 4]]

In [161]:
# init = [0, 0]      # fields ( 2칸 ; N 칸 )

init = [0 for i in range(len(li[0]))]
for rowIndex in range(len(li)):
    row = li[rowIndex]
    
    for fieldIndex in range(len(row)):
        field = row[fieldIndex]
        init[fieldIndex] += field`    
init

[4, 6]

In [194]:
def temp_func(init, row):
    for fieldIndex in range(len(row)):
        init[fieldIndex] += row[fieldIndex]
    return init

reduce(
    temp_func,
    li,
    [0 for i in range(len(li[0]))],    # initialize
)

[4, 6]

In [206]:
# 10

print(arr)

[[1 2]
 [3 4]]

In [209]:
arr.sum()  # arr.sum()

10

In [211]:
print(arr)

[[1 2]
 [3 4]]

In [213]:
arr.sum(axis=0)

array([4, 6])

In [214]:
arr.sum(axis=1)

array([3, 7])

In [215]:
# Indexing

In [276]:
# 성적표 ( 학생 4명에 대한 국어, 영어, 수학 )

arr = np.array([
    [100, 100, 100],
    [60, 50, 30],
    [100, 90, 80],
    [80, 80, 90],
])

# 1. 학생들의 평균 점수를 구하고 싶다. [80, 70, 60.6, 85]
# 2. 평균 점수가 80점 + Filtering

In [232]:
# 순서를 바꾸는 방법

arr[  np.array([True, True, True, False])   ]

# map => Boolean Mask, Filtering Mask
# filter

array([[100, 100, 100],
       [ 60,  50,  30],
       [100,  90,  80]])

In [257]:
# np.mean(arr, axis=1)
mean_arr = arr.mean(axis=1)

In [83]:
mean_arr
# [True, False, True, True]

# list(map(
#     lambda x: x >= 80,
#     mean_arr
# ))

mean_result = [
    x >= 80
    for x
    in mean_arr
]
mean_result = np.array(mean_result)

NameError: name 'mean_arr' is not defined

In [268]:
# mean_arr >= 80
# arr[mean_arr >= 80]

In [269]:
arr[   arr.mean(axis=1) >= 80   ]

array([[100, 100, 100],
       [100,  90,  80],
       [ 80,  80,  90]])

In [290]:
# 성적표 ( 학생 4명에 대한 국어, 영어, 수학 )

arr = np.array([
    [13, "안수찬1", 100, 100, 100],
    [14, "안수찬2", 60, 50, 30],
    [15, "안수찬3", 100, 90, 80],
    [16, "안수찬4", 80, 80, 90],
])

# 1. 학생들의 평균 점수를 구하고 싶다. [80, 70, 60.6, 85]
# 2. 평균 점수가 80점 + Filtering

In [291]:
# Numpy.ndarray => n-d array object. 동질의 데이터셋

In [303]:
np.array(  arr[:, 2:]  , dtype=np.int64).mean(axis=1)

array([ 100.        ,   46.66666667,   90.        ,   83.33333333])

In [306]:
arr[ np.array(  arr[:, 2:]  , dtype=np.int64).mean(axis=1) >= 80 ]

array([['13', '안수찬1', '100', '100', '100'],
       ['15', '안수찬3', '100', '90', '80'],
       ['16', '안수찬4', '80', '80', '90']],
      dtype='<U21')

In [308]:
arr = np.array(  arr[:, 2:] , dtype=np.int64 )

In [312]:
np.savetxt("arr.txt", arr, delimiter=",")

In [313]:
np.loadtxt("arr.txt", delimiter=",")

array([[ 100.,  100.,  100.],
       [  60.,   50.,   30.],
       [ 100.,   90.,   80.],
       [  80.,   80.,   90.]])

In [314]:
# 비디오 예매 서비스 ( netflix )
# 사용자(customer), 영화, 영화 actor, 렌탈, )

In [315]:
# data/payment.csv

In [316]:
payment_arr = np.loadtxt("../../data/payment.csv", delimiter=",")

In [318]:
payment_arr.ndim

2

In [320]:
# column 0: customer_id
# column 1: amount ( 매출 ; 결제액 )

payment_arr.shape

(16049, 2)

In [323]:
payment_arr[:5]

# 얼마만큼의 사용자가 있는가? 1 ... N번 => Unique 한 customer_id 의 배열

array([[ 1.  ,  2.99],
       [ 1.  ,  0.99],
       [ 1.  ,  5.99],
       [ 1.  ,  0.99],
       [ 1.  ,  9.99]])

In [325]:
np.unique(  payment_arr[:, 0]  )

# 이걸 바탕으로 유저별 매출 !
# sorting 1: 119$, 2: 150$.... , => 우리 서비스에서 가장 많이 결제한 유저는 13번 

# sorting
# 1 => ______
# 2 => ______
# ndarray

array([   1.,    2.,    3.,    4.,    5.,    6.,    7.,    8.,    9.,
         10.,   11.,   12.,   13.,   14.,   15.,   16.,   17.,   18.,
         19.,   20.,   21.,   22.,   23.,   24.,   25.,   26.,   27.,
         28.,   29.,   30.,   31.,   32.,   33.,   34.,   35.,   36.,
         37.,   38.,   39.,   40.,   41.,   42.,   43.,   44.,   45.,
         46.,   47.,   48.,   49.,   50.,   51.,   52.,   53.,   54.,
         55.,   56.,   57.,   58.,   59.,   60.,   61.,   62.,   63.,
         64.,   65.,   66.,   67.,   68.,   69.,   70.,   71.,   72.,
         73.,   74.,   75.,   76.,   77.,   78.,   79.,   80.,   81.,
         82.,   83.,   84.,   85.,   86.,   87.,   88.,   89.,   90.,
         91.,   92.,   93.,   94.,   95.,   96.,   97.,   98.,   99.,
        100.,  101.,  102.,  103.,  104.,  105.,  106.,  107.,  108.,
        109.,  110.,  111.,  112.,  113.,  114.,  115.,  116.,  117.,
        118.,  119.,  120.,  121.,  122.,  123.,  124.,  125.,  126.,
        127.,  128.,  129.,  130.,  131.,  132.,  133.,  134.,  135.,
        136.,  137.,  138.,  139.,  140.,  141.,  142.,  143.,  144.,
        145.,  146.,  147.,  148.,  149.,  150.,  151.,  152.,  153.,
        154.,  155.,  156.,  157.,  158.,  159.,  160.,  161.,  162.,
        163.,  164.,  165.,  166.,  167.,  168.,  169.,  170.,  171.,
        172.,  173.,  174.,  175.,  176.,  177.,  178.,  179.,  180.,
        181.,  182.,  183.,  184.,  185.,  186.,  187.,  188.,  189.,
        190.,  191.,  192.,  193.,  194.,  195.,  196.,  197.,  198.,
        199.,  200.,  201.,  202.,  203.,  204.,  205.,  206.,  207.,
        208.,  209.,  210.,  211.,  212.,  213.,  214.,  215.,  216.,
        217.,  218.,  219.,  220.,  221.,  222.,  223.,  224.,  225.,
        226.,  227.,  228.,  229.,  230.,  231.,  232.,  233.,  234.,
        235.,  236.,  237.,  238.,  239.,  240.,  241.,  242.,  243.,
        244.,  245.,  246.,  247.,  248.,  249.,  250.,  251.,  252.,
        253.,  254.,  255.,  256.,  257.,  258.,  259.,  260.,  261.,
        262.,  263.,  264.,  265.,  266.,  267.,  268.,  269.,  270.,
        271.,  272.,  273.,  274.,  275.,  276.,  277.,  278.,  279.,
        280.,  281.,  282.,  283.,  284.,  285.,  286.,  287.,  288.,
        289.,  290.,  291.,  292.,  293.,  294.,  295.,  296.,  297.,
        298.,  299.,  300.,  301.,  302.,  303.,  304.,  305.,  306.,
        307.,  308.,  309.,  310.,  311.,  312.,  313.,  314.,  315.,
        316.,  317.,  318.,  319.,  320.,  321.,  322.,  323.,  324.,
        325.,  326.,  327.,  328.,  329.,  330.,  331.,  332.,  333.,
        334.,  335.,  336.,  337.,  338.,  339.,  340.,  341.,  342.,
        343.,  344.,  345.,  346.,  347.,  348.,  349.,  350.,  351.,
        352.,  353.,  354.,  355.,  356.,  357.,  358.,  359.,  360.,
        361.,  362.,  363.,  364.,  365.,  366.,  367.,  368.,  369.,
        370.,  371.,  372.,  373.,  374.,  375.,  376.,  377.,  378.,
        379.,  380.,  381.,  382.,  383.,  384.,  385.,  386.,  387.,
        388.,  389.,  390.,  391.,  392.,  393.,  394.,  395.,  396.,
        397.,  398.,  399.,  400.,  401.,  402.,  403.,  404.,  405.,
        406.,  407.,  408.,  409.,  410.,  411.,  412.,  413.,  414.,
        415.,  416.,  417.,  418.,  419.,  420.,  421.,  422.,  423.,
        424.,  425.,  426.,  427.,  428.,  429.,  430.,  431.,  432.,
        433.,  434.,  435.,  436.,  437.,  438.,  439.,  440.,  441.,
        442.,  443.,  444.,  445.,  446.,  447.,  448.,  449.,  450.,
        451.,  452.,  453.,  454.,  455.,  456.,  457.,  458.,  459.,
        460.,  461.,  462.,  463.,  464.,  465.,  466.,  467.,  468.,
        469.,  470.,  471.,  472.,  473.,  474.,  475.,  476.,  477.,
        478.,  479.,  480.,  481.,  482.,  483.,  484.,  485.,  486.,
        487.,  488.,  489.,  490.,  491.,  492.,  493.,  494.,  495.,
        496.,  497.,  498.,  499.,  500.,  501.,  502.,  503.,  504.,
        505.,  506.,  507.,  508.,  509.,  510.,  511.,  512.,  513.,
        514.,  515.,  516.,  517.,  518.,  519.,  520.,  521.,  522.,
        523.,  524.,  525.,  526.,  527.,  528.,  529.,  530.,  531.,
        532.,  533.,  534.,  535.,  536.,  537.,  538.,  539.,  540.,
        541.,  542.,  543.,  544.,  545.,  546.,  547.,  548.,  549.,
        550.,  551.,  552.,  553.,  554.,  555.,  556.,  557.,  558.,
        559.,  560.,  561.,  562.,  563.,  564.,  565.,  566.,  567.,
        568.,  569.,  570.,  571.,  572.,  573.,  574.,  575.,  576.,
        577.,  578.,  579.,  580.,  581.,  582.,  583.,  584.,  585.,
        586.,  587.,  588.,  589.,  590.,  591.,  592.,  593.,  594.,
        595.,  596.,  597.,  598.,  599.])

In [ ]:
# Numpy !
# -------
# Selenium :: Web Browser
# os(Operating System), shutil(High-Level File Operator)
# --------
# Pandas

In [ ]:
# Indexing ( NxM 10:20, 3:5 )
# axis=0, 1
# Filtering Mask ( Broadcasting : 벡터 x 스칼라 )
# -----------------------
# For, List Comprehension, Lambda

In [326]:
# [
#     # row[0] + row[1] + row[2] +... + row[n]
#     reduce(lambda a,b: a + b, row)
#     for row                            # row 단위로 쉽게 접근이 가능했기 때문에 
#     in li
# ]

[[1, 2], [3, 4]]

In [329]:
li = [
    [1, 2, 3],
    [4, 5, 6],
]

def temp_func(a, b):
    print((a, b))
    return a + b

[
    reduce(temp_func, row)
    for row   # [1, 2, 3], [4, 5, 6]                            # row 단위로 쉽게 접근이 가능했기 때문에 
    in li
]

(1, 2)
(3, 3)
(4, 5)
(9, 6)

[6, 15]

In [330]:
reduce(lambda a, b: a + b, [1, 2, 3])

6

In [349]:
# savetxt, loadtxt , np(.txt) 
# np.loadtxt, csv
payment_arr = np.loadtxt("../../data/payment.csv", delimiter=",")

In [351]:
payment_arr.shape

(16049, 2)

In [352]:
payment_arr.ndim

2

In [353]:
payment_arr[:5]

array([[ 1.  ,  2.99],
       [ 1.  ,  0.99],
       [ 1.  ,  5.99],
       [ 1.  ,  0.99],
       [ 1.  ,  9.99]])

In [354]:
# 1번 유저에 대한 그룹 ( Boolean Mask )
# [True, True, ...., False]

In [356]:
payment_arr[:, 0] == 1

array([ True,  True,  True, ..., False, False, False], dtype=bool)

In [358]:
# payment_arr[   payment_arr[:, 0] == 1   ]

In [367]:
result = [
    [
        customer_id,
        payment_arr[   payment_arr[:, 0] == customer_id   ].sum()
    ]
    for customer_id 
    in np.unique(   payment_arr[:, 0]    )
]

In [372]:
#np.array(result)

In [373]:
# Numpy: 배열, N차원 배열, 벡터, 행렬

In [374]:
# 2차원의 배열
a = np.array([
        [1, 2],
        [3, 4]
    ])

In [376]:
b = np.array([
        [1, 0],
        [0, 1],
    ])

In [ ]:
# a 라는 행렬, b 라는 행렬 (E; 단위행렬) => a

In [379]:
a * b                # Np.ndarray 연산 => Element 간의 연산 
                     # 행렬 모양 O, 행렬 처럼 쓰는 경우 +++

array([[1, 0],
       [0, 4]])

In [381]:
np.dot(a, b)         # 행렬 간 연산 == 곱

array([[1, 2],
       [3, 4]])

In [388]:
# 순차적의 숫자들의 리스트 

list(range(0, 10, 2))    # return range_generator

[0, 2, 4, 6, 8]

In [390]:
# arange
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [393]:
# 1부터 10까지의 수 ( 10개 )
[i for i in range(1, 10 + 1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [394]:
[i + 1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [395]:
list(range(1, 10 + 1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [396]:
np.arange(1, 10 + 1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [398]:
np.arange(10) + 1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [399]:
# 배열 ( 1로 초기화된 배열, 0으로 초기화된 배열 )

In [400]:
np.ones(10)

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [401]:
np.zeros(10)

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [407]:
# np.ones((3, 3, 3, 3))

In [411]:
# 1024 x 1024 x 3 == 1024 x 3072 ( shape )
# np.ones(100).reshape(10, 10)

In [412]:
# #
# np.eye(10)

array([[ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.]])

In [426]:
# np.random.rand
# np.random.randn
# np.random.randint(100)

In [438]:
# 주가에 대한 변화.

a = np.random.rand(4, 10) - 0.5

# 4개의 종목군에 대한 주가 변화량

In [442]:
a

array([[-0.26256694,  0.07833463, -0.01245334, -0.00708547,  0.04846546,
         0.14984364, -0.37734192, -0.10669961,  0.25359969, -0.37127522],
       [-0.17539225, -0.3373188 , -0.42131753, -0.3785626 ,  0.01906029,
         0.13895431, -0.22888941, -0.04464853,  0.11478264,  0.46480179],
       [-0.00286348, -0.30302647,  0.30195987,  0.15159796,  0.18630796,
         0.46139731,  0.22946935, -0.48201167, -0.12352498,  0.16504371],
       [ 0.48922918, -0.12910257,  0.16158881,  0.33821903,  0.43113849,
        -0.45480674,  0.30890403, -0.29197951, -0.43597871,  0.45447641]])

In [446]:
# a.cumsum(axis=1)

In [447]:
# 주가 => 랜덤한 그래프
# 모델링

In [448]:
# pandas.Series, pandas.DataFrame

In [450]:
# os, shutil

In [451]:
import os

In [453]:
# 1. 폴더 안에 있는 모든 파일의 리스트 보기

In [455]:
os.listdir()                  # ls

['arr.csv',
 '01 크레딧잡 연봉정보.ipynb',
 '02 Numpy.ipynb',
 '.ipynb_checkpoints',
 'arr.txt']

In [457]:
# 폴더 안에 있는 모든 엑셀 파일을 읽어서 ( == 모든 엑셀 파일을 찾자! )
# 이 데이터를 numpy.ndarray 로 만들자.

In [460]:
[
    filename
    for filename
    in os.listdir()
    if filename.endswith(".ipynb")
]

['01 크레딧잡 연봉정보.ipynb', '02 Numpy.ipynb']

In [463]:
# 2. 폴더를 생성하고, 삭제하는 명령

In [472]:
os.makedirs("happy")              # mkdir

In [474]:
os.rmdir("happy/")

# shutil ( == High-level File )

OSError: [Errno 39] Directory not empty: 'happy/'

In [475]:
# os.makedirs(), os.rmdir() 
# $ mkdir 
# $ rm       => 폴더를 recursive 하게 지우는 작업 
#             =>  ( rm -r ) 폴더 안에 파일이나 폴더가 있을 때

In [476]:
import shutil

In [479]:
# shutil.rmtree("./happy/")   # rm -r

In [480]:
# 폴더를 초기화하는 일 ...!


# if [ 폴더가 있는가? ]
#    [폴더를 삭제]
# [폴더를 생성]

In [483]:
if "happy" in os.listdir():
    shutil.rmtree("happy")
os.makedirs("happy")

In [484]:
# 파일 경로 

# .        | Current Dir
# ..       | Parent Dir
# ./, ../, ../../

In [487]:
# np.loadtxt("../../data/payment.csv", delimiter=",")

In [489]:
os.path.join("a", "b", "c", "d.csv")

'a/b/c/d.csv'

In [491]:
os.path.join("..", "..", "data", "payment.csv")

'../../data/payment.csv'

In [493]:
np.loadtxt(
    os.path.join("..", "..", "data", "payment.csv"),
    delimiter=",",
)

array([[   1.  ,    2.99],
       [   1.  ,    0.99],
       [   1.  ,    5.99],
       ...,
       [ 599.  ,    8.99],
       [ 599.  ,    2.99],
       [ 599.  ,    2.99]])

In [495]:
# Jupyter - 데이터분석 위한 도구

In [496]:
# %, _

In [497]:
!ls

01 크레딧잡 연봉정보.ipynb  02 Numpy.ipynb  arr.csv  arr.txt  happy

In [498]:
!ls -al

total 100
drwxrwxr-x 4 tacademy tacademy  4096 Nov  8 04:43 .
drwxrwxr-x 5 tacademy tacademy  4096 Nov  8 00:02 ..
-rw-rw-r-- 1 tacademy tacademy 24513 Nov  8 01:03 01 크레딧잡 연봉정보.ipynb
-rw-rw-r-- 1 tacademy tacademy 52933 Nov  8 04:43 02 Numpy.ipynb
-rw-rw-r-- 1 tacademy tacademy   300 Nov  8 02:37 arr.csv
-rw-rw-r-- 1 tacademy tacademy   300 Nov  8 02:43 arr.txt
drwxrwxr-x 2 tacademy tacademy  4096 Nov  8 04:36 happy
drwxr-xr-x 2 tacademy tacademy  4096 Nov  8 01:03 .ipynb_checkpoints

In [499]:
!rm -rf happy/

In [500]:
!mkdir happy

In [501]:
!ls

01 크레딧잡 연봉정보.ipynb  02 Numpy.ipynb  arr.csv  arr.txt  happy

In [509]:
# [filename for filename in !!ls]

In [513]:
!!ls

['01 크레딧잡 연봉정보.ipynb', '02 Numpy.ipynb', 'arr.csv', 'arr.txt', 'happy']

In [514]:
[filename for filename in _ if filename.endswith(".csv")]

['arr.csv']

In [515]:
# Copy(복사), Move(이동)

In [516]:
# # 복사 ( 파일을 읽어서, 그대로 다른 파일에 쓰는 )
# def copy(src, dest):
#     src_fp = open(src, "r")              # Readable => "r" => "rb"
#     dest_fp = open(dest, "w")
#     dest_fp.write(src_fp.read())
#     src_fp.close()
#     dest_fp.close()

In [518]:
# Move

In [519]:
# shutil.move

In [520]:
!ls

01 크레딧잡 연봉정보.ipynb  02 Numpy.ipynb  arr.csv  arr.txt  happy

In [521]:
!cp arr.csv arr2.csv

In [522]:
!ls

01 크레딧잡 연봉정보.ipynb  02 Numpy.ipynb  arr2.csv  arr.csv  arr.txt	happy

In [523]:
!mv arr2.csv arr3.csv

In [524]:
!ls

01 크레딧잡 연봉정보.ipynb  02 Numpy.ipynb  arr3.csv  arr.csv  arr.txt	happy

In [526]:
# 한번에 주석처리 : Ctrl + "/" / CMD + "/"

In [527]:
# 페이지에서 크로링/파싱
# 로그인 ( 입력폼을 찾아서, 텍스트 입력 )
# 클릭
# 자바스크립트를 강제적으로 실행

In [528]:
# Selenium ( Test ) - IE, Firefox, Chrome, ..
#                         Firefox

In [529]:
# 윈도우           = 설치가 안되는 라이브러리 O
#                => Python 3.X, 윈도우 사용자명 "한글" => "영어"
#                => virtualbox
#                => Numpy, Pandas ( O )

# Python 3.X ( + PATH )
# Jupyter Notebook
# Selenium

# 맥 ( 리눅스 )     = 설치가 다 되어야 O

# => 1. 소스코드를 받아서, 설치 ( .whl )
# => 2. pip install _________________   (O)
#     => pypi.., github...
# => 3. easy_install                    (X)
# => 4. anaconda ( conda install )      (X) - jupyter, numpy, pandas

# 리눅스 | pyenv, virtualenv, 


# 리눅스 ( CentOS, Redhat ) : yum install ______________
# 리눅스 ( Ubuntu  )        : apt-get install _____________
# 맥                       : brew install pyenv, pyenv-virtualenv