In [1]:
# payment.csv
import pandas as pd

In [22]:
df = pd.read_csv("../../data/payment.csv")
#                  ./ TAB ( 자동완성 )

In [23]:
# customer_id 를 기준으로, 묶으면(GROUP_BY) => customer 매출, 몇 번?

In [5]:
customer_groups = df.groupby("customer_id")

In [9]:
# df[   df.customer_id == 1     ]
# customer_groups.get_group(1)
# customer_groups.sum()["amount"]

In [11]:
# .apply ( = 특정 Series 에 func => Series )

In [14]:
df["month"] = df.payment_date.apply(lambda x: str(x)[:7])
# ... GROUP_BY LEFT(payment_date, 7) ...

In [17]:
df.groupby("month").sum()["amount"]

month
2005-05     4824.43
2005-06     9631.88
2005-07    28373.89
2005-08    24072.13
2006-02      514.18
Name: amount, dtype: float64

In [27]:
# Month Column ( 새롭게 만들지 X )
# df.payment_date.apply(lambda x: str(x)[:7])

In [26]:
# df.payment_date.apply(lambda x: str(x)[:7]).head()
df.groupby(df.payment_date.apply(lambda x: str(x)[:7])).sum()["amount"]

payment_date
2005-05     4824.43
2005-06     9631.88
2005-07    28373.89
2005-08    24072.13
2006-02      514.18
Name: amount, dtype: float64

In [29]:
# df.groupby(df.payment_date.apply(lambda x: str(x)[:10])).sum()["amount"]

In [30]:
# 나이대별 분석

In [ ]:
# 1990 => (2016 - 1990 + 1) => 27살
# 10, 30, 35, 29, ... => 내림 ( math.floor )
# 10대?
# 20대?

In [ ]:
# Concat
# JOIN