In [1]:
# 1. concat / append
# 그냥 DataFrame N개를 하나로 합치는 경우!

# Row 방향으로 합치는 경우 ( axis = 0)      - column 이 있어야 
# Column 방향으로 합치는 경우 ( axis = 1 )  - index 가 있어야/동일해야

In [2]:
# 주소록 데이터베이스 
# 2015.csv / 2015.additional.csv / 2016.csv

In [3]:
import pandas as pd

In [18]:
contact_2015 = pd.DataFrame(
    [
            ["name1", "email1@gmail.com"],
            ["name2", "email2@gmail.com"],
    ],
    columns=["name", "email"],
)
contact_2016 = pd.DataFrame(
    [
            ["name3", "email3@gmail.com"],
            ["name4", "email4@gmail.com"],
            ["name5", ],
    ],
    columns=["name", "email"],
)

In [19]:
# df.append

In [20]:
contact_2015["year"] = "2015"
contact_2016["year"] = "2016"

# index ( duplicate )
# contact_2015.append(contact_2016).reset_index(drop=True).set_index("year")

In [21]:
# df.append
# pd.concat( [] ) :: concatenate

In [23]:
merged_df = pd.concat([contact_2015, contact_2016]).reset_index(drop=True)

# 이메일 이 있는 사람만 뽑자.
# np.NaN                 => dropna, fillna

In [73]:
# merged_df.email

send_email("dobestan@gmail.com")

dobestan@gmail.com 로 메일을 발송합니다.

In [72]:
def send_email(email_A):                   # send_email, send_sms
    print("{email_B} 로 메일을 발송합니다.".format(email_B=email_A))
    
    # Str class, .format(*args, **kwargs)
    # kwargs => {"email": "dobestan@gmail.com"}
    # dict-like ( kwargs )

In [28]:
# merged_df.email.apply(send_email)

In [31]:
# merged_df.dropna()      # na(not a number) drop

In [45]:
# merged_df.dropna?
# merged_df.fillna(0)

In [37]:
contact_2015_extra = pd.DataFrame(
    [["봉천동"], ["신사동"]],
    columns=["address"],
)

In [51]:
pd.concat([contact_2015, contact_2015_extra], axis=1)
# 기본으로 붙으면서 NaN
# 하나의 테이블/DF/SS 에 대해서 열/행 방향으로

    name             email  year address
0  name1  email1@gmail.com  2015     봉천동
1  name2  email2@gmail.com  2015     신사동

In [53]:
# None

In [54]:
import numpy as np

In [ ]:
np.NaN    # .sum(), .mean()
          # numpy 연산에 있어서 , Nan 값을 제외하고 연산 ( init = 0 )

In [56]:
# pd.merge == SQL JOIN

In [57]:
# 두 개 이상의 테이블 / DataFrame

In [ ]:
# payment.csv ( customer_id )
# customer.csv ( "id"/"customer_id" customer: 이름, 배송지, 가입일자 )

# ---
# 가장 많이 구매한 유저 10명 -> 선물 ( 배송지 )

In [58]:
payment_df = pd.read_csv("../../data/payment.csv")
customer_df = pd.read_csv("../../data/customer.csv")

In [61]:
# payment_df.head()

In [62]:
# customer_df.head()

In [67]:
# pd.merge(
#     payment_df,   # LEFT        # "inner", 
#     customer_df,   # RIGHT
# #     left_on="customer_id",
# #     right_on="customer_id",
#     on="customer_id",        # column 명이 동일한 case
# )

In [70]:
customer_df_with_index = customer_df.set_index("customer_id")

In [77]:
pd.merge(
    payment_df,
    customer_df_with_index,
    left_on="customer_id",
    right_index=True,
)

# payment_df::customer_id ( _x :: LEFT )
# customer_df::customer_id ( _y :: RIGHT )

,payment_id,customer_id,staff_id,rental_id,amount,payment_date,last_update_x,store_id,first_name,last_name,email,address_id,active,create_date,last_update_y
0,1,1,1,76.0,2.99,2005-05-25 11:30:37,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
1,2,1,1,573.0,0.99,2005-05-28 10:35:23,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,3,1,1,1185.0,5.99,2005-06-15 00:54:12,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
3,4,1,2,1422.0,0.99,2005-06-15 18:02:53,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
4,5,1,2,1476.0,9.99,2005-06-15 21:08:46,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
5,6,1,1,1725.0,4.99,2005-06-16 15:18:57,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
6,7,1,1,2308.0,4.99,2005-06-18 08:41:48,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
7,8,1,2,2363.0,0.99,2005-06-18 13:33:59,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
8,9,1,1,3284.0,3.99,2005-06-21 06:24:45,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
9,10,1,2,4526.0,5.99,2005-07-08 03:17:05,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
10,11,1,1,4611.0,5.99,2005-07-08 07:33:56,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
11,12,1,1,5244.0,4.99,2005-07-09 13:24:07,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
12,13,1,1,5326.0,4.99,2005-07-09 16:38:01,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
13,14,1,1,6163.0,7.99,2005-07-11 10:13:46,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
14,15,1,2,7273.0,2.99,2005-07-27 11:31:22,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
15,16,1,1,7841.0,4.99,2005-07-28 09:04:45,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
16,17,1,2,8033.0,4.99,2005-07-28 16:18:23,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
17,18,1,1,8074.0,0.99,2005-07-28 17:33:39,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
18,19,1,2,8116.0,0.99,2005-07-28 19:20:07,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
19,20,1,2,8326.0,2.99,2005-07-29 03:58:49,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
20,21,1,2,9571.0,2.99,2005-07-31 02:42:18,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
21,22,1,2,10437.0,4.99,2005-08-01 08:51:04,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
22,23,1,2,11299.0,3.99,2005-08-02 15:36:52,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
23,24,1,1,11367.0,0.99,2005-08-02 18:01:38,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
24,25,1,2,11824.0,4.99,2005-08-17 12:37:54,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
25,26,1,1,12250.0,0.99,2005-08-18 03:57:29,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
26,27,1,2,13068.0,0.99,2005-08-19 09:55:16,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
27,28,1,2,13176.0,2.99,2005-08-19 13:56:54,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
28,29,1,1,14762.0,0.99,2005-08-21 23:33:57,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
29,30,1,1,14825.0,1.99,2005-08-22 01:27:57,2006-02-15 22:12:30,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16019,16020,598,2,7354.0,0.99,2005-07-27 14:42:11,2006-02-15 22:24:06,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16020,16021,598,1,7998.0,0.99,2005-07-28 15:08:48,2006-02-15 22:24:06,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16021,16022,598,2,8436.0,0.99,2005-07-29 07:21:20,2006-02-15 22:24:06,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16022,16023,598,1,8511.0,5.99,2005-07-29 09:42:42,2006-02-15 22:24:07,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16023,16024,598,1,8939.0,4.99,2005-07-30 02:56:53,2006-02-15 22:24:07,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16024,16025,598,1,10054.0,4.99,2005-07-31 19:15:52,2006-02-15 22:24:07,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16025,16026,598,2,11350.0,0.99,2005-08-02 17:22:59,2006-02-15 22:24:07,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16026,16027,598,2,12601.0,2.99,2005-08-18 16:47:52,2006-02-15 22:24:08,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16027,16028,598,2,14345.0,0.99,2005-08-21 08:41:15,2006-02-15 22:24:08,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16028,16029,598,2,15307.0,2.99,2005-08-22 19:54:26,2006-02-15 22:24:08,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16029,16030,598,1,15443.0,7.99,2005-08-23 00:44:15,2006-02-15 22:24:08,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16030,16031,599,2,1008.0,4.99,2005-05-31 01:18:56,2006-02-15 22:24:09,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16031,16032,599,1,2272.0,1.99,2005-06-18 06:29:53,2006-02-15 22:24:09,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16032,16033,599,2,3043.0,6.99,2005-06-20 12:38:35,2006-02-15 22:24:09,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16033,16034,599,2,3398.0,4.99,2005-06-21 15:34:38,2006-02-15 22:24:09,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16034,16035,599,1,3429.0,6.99,2005-06-21 18:46:05,2006-02-15 22:24:09,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16035,16036,599,1,5065.0,0.99,2005-07-09 04:42:00,2006-02-15 22:24:10,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16036,16037,599,1,5843.0,2.99,2005-07-10 17:14:27,2006-02-15 22:24:10,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16037,16038,599,2,6800.0,9.99,2005-07-12 17:03:56,2006-02-15 22:24:10,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16038,16039,599,2,6895.0,2.99,2005-07-12 21:23:59,2006-02-15 22:24:10,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16039,16040,599,1,8965.0,6.99,2005-07-30 03:52:37,2006-02-15 22:24:11,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16040,16041,599,2,9630.0,2.99,2005-07-31 04:57:07,2006-02-15 22:24:11,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16041,16042,599,2,9679.0,2.99,2005-07-31 06:41:19,2006-02-15 22:24:11,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16042,16043,599,2,11522.0,3.99,2005-08-17 00:05:05,2006-02-15 22:24:11,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16043,16044,599,1,14233.0,1.99,2005-08-21 05:07:08,2006-02-15 22:24:12,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16044,16045,599,1,14599.0,4.99,2005-08-21 17:43:42,2006-02-15 22:24:12,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16045,16046,599,1,14719.0,1.99,2005-08-21 21:41:57,2006-02-15 22:24:12,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16046,16047,599,2,15590.0,8.99,2005-08-23 06:09:44,2006-02-15 22:24:12,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16047,16048,599,2,15719.0,2.99,2005-08-23 11:08:46,2006-02-15 22:24:13,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20
16048,16049,599,2,15725.0,2.99,2005-08-23 11:25:00,2006-02-15 22:24:13,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [ ]:
# 1. 단일 DataFrame 
#   1.1. row => df.append / pd.concat([df1, df2], axis=0)
#   1.2. column => pd.concat([df1, df2], axis=1)
#   + df.fillna(), df.dropna() ( 전처리 )
# 2. 복수개의 DataFrame
#   == SQL JOIN
#   pd.merge(DF1, DF2, [Options])
#   left_on, right_on ( "on" )
#   left_index=True, right_index=True

# 데이터베이스 ( SQL >>> Pandas ) raw SQL

In [75]:
def format(string, **kwargs):
    for key, value in kwargs.items():
        string = string.replace("{" + key + "}", value)
    return string

In [76]:
format("{name}, {greeting}", name="안수찬", greeting="반갑습니다.")

'안수찬, 반갑습니다.'