In [1]:
import pandas as pd
import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",  # DATABASE_HOST
    "root",            # DATABASE_USERNAME
    "dkstncks",        # DATABASE_PASSWORD
    "sakila",          # DATABASE_NAME
    charset='utf8',
)# 

# SQL_QUERY = """
#     SELECT
#     FROM
#     ;
# """

# pd.read_sql(SQL_QUERY, db)

In [4]:
# SQL_QUERY = "SELECT * FROM customer;"
# pd.read_sql(SQL_QUERY, db)

# 데이터베이스 vs Pandas
# 병목 :: 연산 << 네트워크

In [5]:
# 모든 테이블 => DF

In [6]:
SQL_QUERY = "SHOW Tables;"

In [13]:
tables_df = pd.read_sql(SQL_QUERY, db)

# 어떻게 하면, 모든 테이블들을 일괄적으로, + 쉽게 한번에 DataFrame 으로 만들 수 있을까?
# 함수
# input: "데이터베이스 명", output: "새로운 폴더"(데이터베이스명), 테이블.csv
#                       sakila/customer.csv, payment.csv, .....
#                       world/country.csv, city.csv, ...

In [9]:
import os
import shutil

In [18]:
# 데이터베이스 연결은 되어있는 상태

def table_to_csv(database, table):
    SQL_QUERY = "SELECT * FROM {table};".format(table=table)
    df = pd.read_sql(SQL_QUERY, db)
    df.to_csv(
        os.path.join(database, table + ".csv")
    )
    
def database_to_csv(database):
    if database in os.listdir():         # 데이터베이스 명으로 폴더 생성하기
        shutil.rmtree(database)
    os.makedirs(database)
    
    tables_df = pd.read_sql("SHOW Tables;", db)  # "Tables_in_sakila"
    tables_df.iloc[:, 0].apply(lambda table: table_to_csv(database, table))
    # pandas 데이터 분석 ( 기능적으로 사용할 수 있는 부분도 많다! )
    
    return tables_df

    
database_to_csv("sakila")

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store

In [16]:
tables_df.iloc[:, 0].apply(
    lambda table_name: "SELECT * FROM {table_name};".format(
        table_name=table_name,
    )
)

0                          SELECT * FROM actor;
1                     SELECT * FROM actor_info;
2                        SELECT * FROM address;
3                       SELECT * FROM category;
4                           SELECT * FROM city;
5                        SELECT * FROM country;
6                       SELECT * FROM customer;
7                  SELECT * FROM customer_list;
8                           SELECT * FROM film;
9                     SELECT * FROM film_actor;
10                 SELECT * FROM film_category;
11                     SELECT * FROM film_list;
12                     SELECT * FROM film_text;
13                     SELECT * FROM inventory;
14                      SELECT * FROM language;
15    SELECT * FROM nicer_but_slower_film_list;
16                       SELECT * FROM payment;
17                        SELECT * FROM rental;
18        SELECT * FROM sales_by_film_category;
19                SELECT * FROM sales_by_store;
20                         SELECT * FROM staff;
21                    SELECT * FROM staff_list;
22                         SELECT * FROM store;
Name: Tables_in_sakila, dtype: object